{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "arrow-parens": 0,
    "no-underscore-dangle": 0,
    "semi": 2,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  }, 
  "extends": "airbnb",
  "globals": {
    "window": true
  }
}